.chosen-answer-and-result {
    display: flex;
    align-items: center;
}

.result {
    display: inline-block;
    height: 100px;
}

.chosenAnswer {
    display: inline-block;
}

.correct-answer {
    font-weight: bold;
    display: inline-block;
}
