<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layouts/default">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div layout:fragment="list-of-questions-and-answers">

    <div class="questions-container" id="container">
        <form action="/checkAnswers" method="post">
            <div class="question-and-answers" th:each="questionAndAnswers : ${triviaQuestions}">
                <h3 th:id="@{|question-${questionAndAnswersStat.count}|}" th:text="${questionAndAnswers.question}"></h3>
                <div th:id="@{|answers-question-${questionAndAnswersStat.count}|}">
                    <div id="answer" th:each="answer : ${questionAndAnswers.answers}">
                        <input type="radio" th:id="@{|answer-${answerStat.count}|}" class="answer" th:name="${questionAndAnswers.question}" th:value="${answer}"
                               th:text="${answer}">
                    </div>
                </div>
            </div>
            <br>
            <input type="submit" id="check-answers-button" value="Check Answers" disabled>
        </form>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
